@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-nhaas-grotesk);
  --font-serif: var(--font-meta-old-french);
  --font-mono: var(--font-ft88);
  --font-tiny5: var(--font-tiny5);
  --font-absolution1: var(--font-absolution1);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(0.9832 0.0017 325.5901);
  --foreground: oklch(0.2057 0.0140 298.2309);
  --card: oklch(0.9832 0.0017 325.5901);
  --card-foreground: oklch(0.2057 0.0140 298.2309);
  --popover: oklch(0.9832 0.0017 325.5901);
  --popover-foreground: oklch(0.2057 0.0140 298.2309);
  --primary: oklch(0.8410 0.2380 128.8500);
  --primary-foreground: oklch(0.2740 0.0720 132.1090);
  --secondary: oklch(0.8690 0.0050 56.3660);
  --secondary-foreground: oklch(0.1470 0.0040 49.2500);
  --muted: oklch(0.9230 0.0030 48.7170);
  --muted-foreground: oklch(0.4440 0.0110 73.6390);
  --accent: oklch(0.8280 0.1890 84.4290);
  --accent-foreground: oklch(0.2790 0.0770 45.6350);
  --destructive: oklch(0.5770 0.2450 27.3250);
  --destructive-foreground: oklch(0.2580 0.0920 26.0420);
  --border: oklch(0.9230 0.0030 48.7170);
  --input: oklch(0.9700 0.0010 106.4240);
  --ring: oklch(0.7090 0.0100 56.2590);
  --chart-1: oklch(0.9364 0.1505 131.6292);
  --chart-2: oklch(0.8708 0.2398 136.6109);
  --chart-3: oklch(0.8414 0.2535 138.8410);
  --chart-4: oklch(0.7812 0.2429 139.7348);
  --chart-5: oklch(0.6589 0.1989 140.0398);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.2163 0.0025 145.4898);
  --sidebar-primary: oklch(0.2163 0.0025 145.4898);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.9702 0 0);
  --sidebar-accent-foreground: oklch(0.2163 0.0025 145.4898);
  --sidebar-border: oklch(0.9219 0 0);
  --sidebar-ring: oklch(0.7090 0 0);
  --font-sans: var(--font-nhaas-grotesk);
  --font-serif: var(--font-meta-old-french);
  --font-mono: var(--font-ft88);
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: oklch(0.2163 0.0025 145.4898);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2163 0.0025 145.4898);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2686 0 0);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.9219 0 0);
  --primary-foreground: oklch(0.2163 0.0025 145.4898);
  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2686 0 0);
  --muted-foreground: oklch(0.7090 0 0);
  --accent: oklch(0.3715 0 0);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.6008 0.2191 276.6863);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.2768 0 0);
  --input: oklch(0.3250 0 0);
  --ring: oklch(0.5555 0 0);
  --chart-1: oklch(0.9364 0.1505 131.6292);
  --chart-2: oklch(0.8708 0.2398 136.6109);
  --chart-3: oklch(0.8414 0.2535 138.8410);
  --chart-4: oklch(0.7812 0.2429 139.7348);
  --chart-5: oklch(0.6589 0.1989 140.0398);
  --sidebar: oklch(0.2163 0.0025 145.4898);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.8102 0.2586 140.4234);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.2686 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2768 0 0);
  --sidebar-ring: oklch(0.4386 0 0);
  --font-sans: var(--font-nhaas-grotesk);
  --font-serif: var(--font-meta-old-french);
  --font-mono: var(--font-ft88);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    scroll-snap-type: y proximity;
  }
}